/* work sans font from google */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 1.25rem;
    padding: 20px 25px;
    margin: ;
    font-weight: 700px;
    cursor: pointer;
}

/* header styles */

header{
    background-color: rgba(250, 150, 10, 0.20);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:rgb(32, 32, 32);
}

nav>ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav a{
    text-decoration: none;
    color: black;
}

/* banner styles */

.banner-container{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title{
    font-size: 2.5rem;
}
.banner-description{
   color: gray;
}

.banner-img{
    width: 100%;
   margin-top: 20px;
}

/* main styles */
.team-container{
    display: flex;
    align-items: center;
    margin:100px 200px;
}

.feature-title{
    font-size: 2.5rem;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}


.team-description{
    font-size: 1.4rem;
    color: gray;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: justify;
    
}

.quick-style{
    font-weight: 500;
}

.of-style{
    color: black;
    font-weight: 700;
}

.features-style{
    color: orange;
    font-weight: 800;
}


/* responsive for small devices */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

/* responsive for medium devices */
@media screen and (min-width:577px) and (max-width:990px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}
